---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Home Page";
---
<!-- <Layout title="texto de la mini pestaña">
  <h2>Subtitulo del index</h2>
</Layout> -->
<head>
  <title>
    {pageTitle}
  </title>
</head>
<Layout>
  <h2>Subtitulo del index</h2>
</Layout>

